<div class="ui-g">
        <div class="ui-g-2 ui-g-nopad">
          <div class="ui-g-12">
            ACA VIENE LA FOTO
          </div>
          <div class="ui-g-12">
                <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
          </div>
          
        </div>
        <div class="ui-g-10">
            <div *ngIf= "queMuestro == 0">
                    <app-estadisticas></app-estadisticas>
                    <app-tablas></app-tablas>
            </div>
            <div *ngIf="queMuestro == 1">
                    <app-registro></app-registro>
            </div>
        
        </div>
      </div>
