<div class="w3-row">
    <div class="w3-col s12">
        <app-menu></app-menu>
    </div>
</div>
<div class="w3-row" style="margin-top: 1%;">
    <div class="w3-col s4 m5 l6">
        <button routerLink="/solicitarViaje">
            <img src="../../../assets/img/remis.jpg" alt="Lights" class="w3-image w3-round">
        </button>

    </div>
    <div class="w3-col s4 m5 l6">
        <button>
            <img src="../../../assets/img/calificar.jpg" alt="Lights" class="w3-image w3-round" >
        </button>
    </div>
</div>
<div class="w3-row" style="margin-top: 1%;">
        <div class="w3-col s4 m5 l6">
        <button routerLink="/misViajes">
            <img src="../../../assets/img/viajes.jpg" alt="Lights" class="w3-image w3-round">
        </button>
    </div>
    <div class="w3-col s4 m5 l6">
        <button>
            <img src="../../../assets/img/preferencias.jpg" alt="Lights" class="w3-image w3-round">
        </button>
    </div>
</div>