<app-menu></app-menu>
<form action="" style="margin-top: 2%;">
  <p-panel header="Solicitud de vehiculo">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4-nopad">
          <div class="ui-grid-col-6">
            Nombre:
          </div>
          <div class="ui-grid-col-6">
            Nombre del usuario
          </div>
          <div class="ui-grid-col-6">
            Origen:
          </div>
          <div class="ui-grid-col-6">
            <p-toggleButton [(ngModel)]="checkCasa" onLabel='Saras_' offLabel="Otro destino" [ngModelOptions]="{standalone: true}">
            </p-toggleButton>
          </div>
          <div *ngIf="checkCasa == false">
            <div class="ui-grid-col-12" style="border: solid; ">
              Datos de Origen
            </div>
              <div class="ui-grid-col-6">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="fa fa-road"></i>
                  </span>
                  <input type="text" pInputText placeholder="Calle">
                </div>
              </div>
              <div class="ui-grid-col-6">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="fa fa-stream"></i>
                  </span>
                  <input type="text" pInputText placeholder="Numero">
                </div>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 4%;">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="fa fa-map-signs"></i>
                  </span>
                  <input type="text" pInputText placeholder="Localidad">
                </div>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 4%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">Provincia</label>
              </span>
              
              </div>
            
          </div>
          <div class="ui-grid-col-6">
            Destino:
          </div>
          <div class="ui-grid-col-6">
            Capital
          </div>
        </div>
        <div class="ui-grid-col-8">

          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng">
              <agm-info-window>Casa</agm-info-window>
            </agm-marker>

          </agm-map>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          ACA LOS DATOS DEL VIAJE, TIEMPO, COSTO , ETC
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <button>ACEPTAR</button>
          <button routerLink="/home">CANCELAR</button>
        </div>
      </div>
    </div>
  </p-panel>
</form>