<app-menu></app-menu>
<form action="" style="margin-top: 2%;">
  <p-panel header="Solicitud de vehiculo">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
      <div class="ui-grid-row">
        <!--   <div class="ui-grid-col-4-nopad">
          <div class="ui-grid-col-6">
            Nombre:
          </div>
          <div class="ui-grid-col-6">
            Nombre del usuario
          </div>
          <div class="ui-grid-col-6">
            Origen:
          </div>
          <div class="ui-grid-col-6">
            <p-toggleButton [(ngModel)]="checkCasa" onLabel='No_estoy_en_casa' offLabel="Otro destino" [ngModelOptions]="{standalone: true}">
            </p-toggleButton>
          </div>
          <div *ngIf="checkCasa == false">
            <div class="ui-grid-col-12">
              <div class="ui-grid-col-12" style="border: solid; text-align: center; margin-right: 1%">
                Datos de Origen
              </div>

              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="calleOrigen" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Calle</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="10" [(ngModel)]="numeroOrigen" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Numero</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="localidadOrigen" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Localidad</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="provinciaOrigen" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Provincia</label>
                </span>
              </div>


            </div>
          </div>
          <div class="ui-grid-col-12">
            <div class="ui-grid-col-12" style="border: solid; text-align: center;">
                Datos de Destino
            </div>
            <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="calleDestino" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Calle</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="numeroDestino" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Numero</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="localidadDestino" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Localidad</label>
                </span>
              </div>
              <div class="ui-grid-col-6" style="margin-top: 2.5%;">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" [(ngModel)]="provinciaDestino" [ngModelOptions]="{standalone: true}" pInputText>
                  <label for="float-input">Provincia</label>
                </span>
              </div>

          </div>


        </div> -->
        <div class="ui-grid-col-12">
          <div class="container">
            <div class="form-group">
              <div class="ui-grid-col-6">
                <h3 class="first">Ingresar Dirección de Origen</h3>
                <input id='float-input' placeholder="Ingresar Dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  class="form-control" #search [formControl]="searchControl" style="width: 50%;">
              </div>
              <div class="ui-grid-col-6">
                <h3 class="first">Confirmar Origen</h3>
                <button (click)="guardarOrigen()">Confirmar</button>
                <h3 class="first">Confirmar Destino</h3>
                <button (click)="guardarDestino()">Confirmar</button>
              </div>

              <br>

            </div>
            <div class="ui-grid-col-12">
              <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                <agm-marker *ngIf="confirmaOrigen" [latitude]="latitude1" [longitude]="longitude1"></agm-marker>
                <agm-direction *ngIf="muestroRuta" [origin]="dir.origin" [destination]="dir.destination">
                </agm-direction>
              </agm-map>
            </div>

          </div>




          <!-- mapa original
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng">
              <agm-info-window>Casa</agm-info-window>
              
                <agm-direction *ngIf="dir" 
              [origin]="dir.origin" [destination]="dir.destination">
            </agm-direction>
              
              
            </agm-marker>

          </agm-map>
          -->
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="text-align: center;">
          ACA LOS DATOS DEL VIAJE, TIEMPO, COSTO , ETC
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="text-align: center;">
          <button (click)="calcularDistancias()">ACEPTAR</button>
          <button routerLink="/home">CANCELAR</button>
        </div>
      </div>
    </div>
  </p-panel>
</form>